<footer class="main-footer">
      <strong>Autorių teisės &copy; {% now "Y" %}, <a href="https://www.linkedin.com/in/tomas-banys-19b274159/">Tomas Banys</a>.</strong>
      Visos teisės saugomos.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
      </div>
    </footer>
