{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'student_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">VilniusTECH</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'student_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              {% url 'student_home' as student_home %}
              <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Pagrindinis
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'student_view_attendance' as student_view_attendance %}
              <a href="{{ student_view_attendance }}" class="nav-link {% if request.path == student_view_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                  Peržiūrėti lankomumą
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

<!--            <li class="nav-item">-->
<!--              {% url 'student_view_result' as student_view_result %}-->
<!--              <a href="{{ student_view_result }}" class="nav-link {% if request.path == student_view_result %} active {% endif %}">-->
<!--                <i class="nav-icon fas fa-tasks"></i>-->
<!--                <p>-->
<!--                  View Result-->
<!--                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--              {% url 'student_apply_leave' as student_apply_leave %}-->
<!--              <a href="{{ student_apply_leave }}" class="nav-link {% if request.path == student_apply_leave %} active {% endif %}">-->
<!--                <i class="nav-icon fas fa-envelope-open-text"></i>-->
<!--                <p>-->
<!--                  Atostogų prašymas-->
<!--                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--              {% url 'student_feedback' as student_feedback %}-->
<!--              <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">-->
<!--                <i class="nav-icon fas fa-comments"></i>-->
<!--                <p>-->
<!--                  Atsiliepimai-->
<!--                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
