{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Redaguoti dėstytoją
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_staff' %}" role="button">+ Pridėti dėstytoją</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dėstytojų duomenys</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Ieškoti">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Vardas</th>
                                <th>Pavardė</th>
                                <th>Slapyvardis</th>
                                <th>El. paštas</th>
                                <th>Adresas</th>
                                <th>Paskutinis prisijungimas</th>
                                <th>Pridėjimo data</th>
                                <th>Veiksmas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in staffs %}
                                <tr>
                                <td>{{ staff.admin.id }}</td>
                                <td>{{ staff.admin.first_name }}</td>
                                <td>{{ staff.admin.last_name }}</td>
                                <td>{{ staff.admin.username }}</td>
                                <td>{{ staff.admin.email }}</td>
                                <td>{{ staff.address }}</td>
                                <td>{{ staff.admin.last_login }}</td>
                                <td>{{ staff.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_staff' staff.admin.id %}" class="btn btn-success">Redaguoti</a>
                                    <a href="{% url 'delete_staff' staff.admin.id %}" class="btn btn-danger">Ištrinti</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
